@media (max-height: 840px) {
    .card, .btn, .form {
        transform: scale(0.9);
    }
}

@media (max-height: 780px) {
    .card, .btn, .form {
        transform: scale(0.8);
    }

}

@media (max-height: 720px) {
    .card, .btn, .form {
        transform: scale(0.7);
    }

}

@media (max-height: 660px) {

    .form {
        transform: scale(0.7) translateY(-50px);
    }
    .btn {
        position:absolute;
        top: 0;
    }

    .card {
        transform: scale(0.6) translateY(85px);
        max-height: 255px;
    }
    #pokemonId{
        left: 0;
        transform: translateX(50px);
    }
}
